@font-face {
    font-family: "Roadgeek2005SeriesD";
    src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf");
}

body {
    color: white;
    font-family: 'Roadgeek2005SeriesD', sans-serif;
}

h3#bridge-info {
    font-size: 0.4em;
    width: 100%;
    color: #7e7e7e;
    text-align: center;
}

.button {
    width: 100%;
    margin-bottom: 10px;

    font-size:1.5em;
    font-weight:bold;
    font-style:normal;
    height:3em;
    line-height: 2.9em;

    padding-top: 5px;

    text-decoration:none;
    text-align:center;
    display:inline-block;
    text-indent:0;

    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

.on {
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(
        linear, left top, left bottom,
        color-stop(0.05, #00c200),
        color-stop(1, #009200)
    );
    background-color:#00c200;
    border:1px solid #268a16;
    color:#306108;
    text-shadow:1px 1px 0px #aade7c;
}

.off {
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient(
        linear, left top, left bottom,
        color-stop(0.05, #ff4900),
        color-stop(1, #ce0100)
    );
    background-color:#ff4900;
    border:1px solid #d83526;
    color:white;
    text-shadow:1px 1px 0px #b23e35;
}
